# ============================
# Ignore raw video folders
# ============================
AI_videos/
real_videos_raw/
real_videos_segments/

# Ignore raw video files anywhere
*.mp4
*.mov
*.mkv
*.avi

# ============================
# Python cache / notebook cache
# ============================
__pycache__/
.ipynb_checkpoints/

# ============================
# Ignore numpy feature files
# ============================
*.npy